<div class="container">
   <div class="row center-view">
       <div class="col-md-3 white-card">
           <p class="text-style btm-border">No of employees</p>
           <p class="text-center" style="font-size: 2em;">4</p>
       </div>
    <div class="col-md-3 white-card">
        <p class="text-style btm-border">Mission</p>
        <p class="text-center">To provide the world with a first class management system to meet any organisation's needs </p>
    </div>
    <div class="col-md-3 white-card">
        <p class="text-style btm-border">Vision</p>
        <p class="text-center">To be no 1 in Nigeria in providing management services</p>
    </div>
    <div class="col-md-3 white-card">
        <p class="text-style btm-border">About</p>
        <p class="text-center">A software development company that provides tools organizations can use.</p>
    </div>
   </div>
</div>